nav {
    color: black;
    transition: 1.2s ease;
    background-color: var(--color-fondo);
    font-size: 18px;
}

.products-title {
    font-size: 18px;
}

nav:hover {
    background-color: rgb(247, 247, 247)
}