#main-categories {
    margin: 25px;
    width: auto;
    height: auto;
}

#category-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

#title-category-list {
    margin-right: 20px;
    color: rgb(32, 97, 158);
}

#category-detail {
    background-color: var(--color-oscuro);
    padding: 20px
}