.btn-product {
    color: #ffffff;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 16px;
    border-radius: 15px;
    background: var(--color-azul);
    border: none;
    /* border: 1px solid var(--color-detalles); */
    transition: all .3s;
    /* box-shadow: 0.7px 0.8px 1px #f0f0f0; */
    margin-top: auto;
}
.btn-product:hover {
    background-color: var(--color-detalles-hover);
    border: none;
    transform: translateY(0.05em);
}
      
.btn-product:active {
    box-shadow: none;
    background-color: var(--color-azul);
    transform: translateY(0);
}

.button-color {
    font-size: 15px;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: radial-gradient( 100% 100% at 100% 0%, #89deff 0%, var(--color-detalles) 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgba(39, 45, 117, 0.3), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: 0.15s ease, 0.15s ease;
}

.button-color:hover {
    box-shadow: 0px 0.1em 0.1em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
}

.button-color:active {
    box-shadow: inset 0px 0.1em 0.6em var(--color-detalles);
    transform: translateY(0);
}

.btn-quantity {
    font-size: 13px;
    outline: 0;
    cursor: pointer;
    background: radial-gradient( 100% 100% at 100% 0%, #3b3b3b 0%, rgb(14, 14, 14) 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgba(39, 45, 117, 0.3), inset 0px -0.01em 0px rgba(33, 36, 56, 0.5);
    border-radius: 0.3em;
    color: #fff;
    height: 25px;
    width: 25px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: 0.15s ease, 0.15s ease;
    align-items: center;
    justify-content: center;
}

.btn-quantity:hover {
    box-shadow: 0px 0.1em 0.2em rgba(37, 35, 43, 0.4), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #252525;
    transform: translateY(-0.1em);
}

.btn-quantity:active {
    box-shadow: inset 0px 0.1em 0.6em var(--color-detalles);
    opacity: 90%;
    transform: translateY(0);
}

.btn-quantity-w {
    font-size: 13px;
    outline: 0;
    cursor: pointer;
    background: radial-gradient( 100% 100% at 100% 0%, #e9e9e9 0%, rgb(255, 249, 249) 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgba(39, 45, 117, 0.3), inset 0px -0.01em 0px rgba(33, 36, 56, 0.5);
    border-radius: 0.3em;
    color: #000000;
    height: 25px;
    width: 25px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: 0.15s ease, 0.15s ease;
    align-items: center;
    justify-content: center;
}

.btn-quantity-w:hover {
    box-shadow: 0px 0.1em 0.2em rgba(37, 35, 43, 0.4), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #252525;
    transform: translateY(-0.1em);
}

.btn-quantity-w:active {
    box-shadow: inset 0px 0.1em 0.6em rgba(78, 107, 145, 0.466);
    opacity: 90%;
    transform: translateY(0);
}

.btn-delete {
    background-color: transparent;
    position: relative;
    border: none;
  }
  
  .btn-delete::after {
    content: 'delete';
    position: absolute;
    top: -130%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    background-color: rgb(168, 7, 7);
    padding: 4px 8px;
    border-radius: 5px;
    transition: .2s linear;
    transition-delay: .2s;
    color: white;
    font-size: 12px;
    opacity: 0;
  }
  
  .icon {
    transform: scale(1.1);
    transition: .2s linear;
  }
  
  .btn-delete:hover > .icon {
    transform: scale(1.3);
  }
  
  .btn-delete:hover > .icon path {
    fill: rgb(168, 7, 7);
  }

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--color-detalles);
    border-radius: 2px;
    padding: 2px;
}