.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1.5rem;
    color: rgb(255, 255, 255);
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgb(107, 107, 107);
    padding: 15px;
    background-color: rgb(39, 39, 39);
    flex-wrap: wrap;
}

.white-box {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.cart-container {
    background-color: rgb(245, 245, 245);
    padding: 20px;
    box-shadow: 1px 2px 4px rgb(131, 131, 131);
    margin: 25px;
}

  
.title-cart {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
  
.title-cart::before,.title-cart::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
}
  
.title-cart::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
}
  
.title-cart::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}