footer {
    color: rgb(253, 253, 253);
    transition: 1.2s ease; 
    height: 5rem;
    background-color: black;
    padding: 0.5rem;
}

footer:hover {
    background-color: rgb(19, 19, 19)
}

footer a {
    color: white;
}

footer a:hover {
    color: rgb(233, 233, 233);
    text-decoration-color: white;
}

footer a:active {
    color: rgb(233, 233, 233);
    text-decoration-color: white;
}

@media screen and (max-width: 1080px) {
    footer {
        height: 11rem;
    }
}

@media screen and (max-width: 749px) {
    footer {
        height: 15rem;
    }
}