:root {
    --color-fondo: rgb(235, 235, 235);
    --color-oscuro: rgb(19, 19, 19);
    --color-oscuro-hover: rgb(19, 19, 19);
    --color-detalles: rgba(71, 118, 219, 0.938);
    --color-detalles-hover: rgb(101, 141, 228);
}

body {
    background-color: var(--color-fondo);
    color: rgb(0, 0, 0);
}

form {
    margin: 15px;
}

h1 {
    text-shadow: 1px 1px 3px rgb(199, 197, 197);
}

ul {
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

ul li {
    font-size: 15px;
}

ul .active {
    text-decoration: underline;
    text-decoration-color: var(--color-detalles);
}


a {
    color:black;
    text-decoration: none;
}

a:active {
    color: rgb(27, 27, 27);
    text-decoration: none;
}

a:hover {
    color: rgb(56, 56, 56);
    text-decoration: none;
}

.underline:active {
    text-decoration: underline;
    text-decoration-color: var(--color-detalles);
}

.underline:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-detalles);
}

.active {
    text-decoration: underline;
    text-decoration-color: var(--color-detalles);
}

main {
    height: 50rem;
}

section {
    background-color: var(--color-oscuro);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white {
    color: white;
}

.black {
    color: black;
}

.no-style li {
    list-style: none;
}